<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Quiz</title>
	<link rel = 'stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<h1>Creditos</h1>
<a href="/">Inicio</a>
<a href="/author">Creditos</a>

<p>
	Esta practica ha sido desarrollada por Mario Hernando Segovia y Sergio Lillo Morales.
</p>

<img src="/images/core.jpg"/>
</body>

</html>
