<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Quiz</title>
	<link rel = 'stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<h1>Ayuda</h1>
<a href="/">Inicio</a>
<a href="/author">Creditos</a>
<a href="/help">Ayuda</a>

<p>
	Quiz es un juego de preguntas y adivinanzas en el que el usuario puede crear sus propias adivinanzas con el objetivo de ganar.
</p>

</body>

</html>
