<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
	<a href="/">Inicio</a>
	<a href="/author">Creditos</a>
	<a href="/help">Ayuda</a>
    <p>El portal donde crear tus propios juegos!</p>
  </body>
</html>
